* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

h1 {
  color: #888;
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  max-width: 480px;
  margin-bottom: 16px;
  transition: 0.4s;
}

.search-box input {
  display: block;
  appearance: none;
  outline: none;
  border: none;
  padding: 16px;
  width: 100%;
  transition: 0.4s;
}

.search-box:focus-within {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(5px);
}

.results-container {
  max-width: 1168px;
  margin: 0 auto;
}

.results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.result {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 12px;
  transition: 0.4s;
}

.result:hover {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.result h3 {
  color: #888;
  font-size: 28px;
  margin-bottom: 16px;
}

.result p {
  color: #313131;
  font-size: 18px;
  margin-bottom: 16px;
}
